<div class="" role="main">
  <div class="flex justify-center mb-4">
    <img src="/images/supercharge-logo.png" alt="Supercharge" width="128" class="mt-5 mb-4 img-fluid">
    <h1>Supercharge</h1>
  </div>
  <p class="mt-4 mb-5 text-center lead">
    Supercharge is an open-source Node.js framework <br class="d-none d-md-block">
    making your server-side development enjoyable.
  </p>
  <p class="text-center d-none d-md-block">
    <a href="/docs" class="mr-3 btn btn-primary btn-lg">Documentation</a>

    <a href="https://github.com/supercharge/supercharge" class="btn btn-light btn-lg">
      <svg class="w-5 h-5 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <title>Supercharge on GitHub</title>
        <path
          d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0">
        </path>
      </svg>
      Source Code
    </a>
  </p>

  <p class="text-center d-md-none">
    <a href="/docs" class="mr-3 btn btn-primary">Documentation</a>

    <a href="https://github.com/supercharge/supercharge" class="btn btn-light">
      <svg class="w-5 h-5 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <title>Supercharge on GitHub</title>
        <path
          d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0">
        </path>
      </svg>
      Source Code
    </a>
  </p>
</div>

<section class="grey-pod">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h2 class="mt-5 text-center">
          Quick Start
        </h2>
      </div>
    </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="mt-5 col-lg-6 offset-lg-3">
        <div class="shadow terminal space">
          <div class="top">
            <div class="btns">
              <span class="circle red"></span>
              <span class="circle yellow"></span>
              <span class="circle green"></span>
            </div>
            <div class="text-xs title text-monospace">
              Build your idea -- 70x32
            </div>
          </div>
          <div class="text-sm body text-monospace">
            <span class="red">></span> npm install -g @supercharge/installer <br>
            <span class="green">Supercharge installer ready!</span>
            <br><br>

            <span class="red">></span> supercharge new my-app-name <br>
            <span class="green">Crafting a new Supercharge application</span>
            <br><br>

            <span class="green">&nbsp; ✔</span> Ensure installation directory is empty <br>
            <span class="green">&nbsp; ✔</span> Crafting your application <br>
            <span class="green">&nbsp; ✔</span> Install application dependencies <br>
            <span class="green">&nbsp; ✔</span> Initialize application setup <br>
            <span class="green">&nbsp; ✔</span> Generate application key <br>
            <span class="green">&nbsp; ✔</span> Set application name
            <br><br>

            &nbsp; &nbsp; Your project is ready for take off <br>
            &nbsp; &nbsp; Launch the server with:
            <br><br>

            &nbsp; &nbsp; <span class="grey">$</span> <span class="green">cd my-app-name</span> <br>
            &nbsp; &nbsp; <span class="grey">$</span> <span class="green">node server</span>
            <br><br><br>
            <span class="green">Enjoy the ride!</span>
          </div>
        </div>

        <div class="mt-5">
          <p>
            The installer scaffolds a new Supercharge application within seconds.
          </p>
          <p>
            You can directly start your development and toy around with the existing functionality.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="grey-pod">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h2 class="mt-5 text-center">
          Start Building Your App
        </h2>

        <div class="mt-10 row">
          <div class="col-6">
            <h3 class="font-weight-bold condensed-loose">Craft CLI</h3>
            <p>
              Supercharge includes the <a href="/docs/craft-cli">Craft command line tool</a>. Craft helps you to
              create features and files.
            </p>
          </div>
          <div class="col-6">
            <h3 class="font-weight-bold condensed-loose">Authentication Included</h3>
            <p>
              Supercharge helps you to quickly integrate the handling for <a href="/docs/authentication">login and sign
                up</a>.
            </p>
          </div>
          <div class="mt-5 col-6">
            <h3 class="font-weight-bold condensed-loose">Class-based Testing</h3>
            <p>
              Supercharge <a href="/docs/create-and-debug-tests">supports class-based testing</a>. You don’t need to
              run the same setup in each test file.
            </p>
          </div>
          <div class="mt-5 col-6">
            <h3 class="font-weight-bold condensed-loose">Open Source</h3>
            <p>
              Supercharge’s code is <a href="https://github.com/supercharge/supercharge">open source on GitHub</a>.
              Send a pull request and we’ll make it happen. Together!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
