<div class="py-32 mt-1 h-3/5 bg-gradient-to-b from-white to-coolGray-50 sm:px-4 lg:px-8">
  <h2 class="text-5xl font-black tracking-tight text-center">
    A Node.js framework developers love.
  </h2>
  <h3 class="mt-12 text-2xl text-center text-coolGray-500">
    Supercharge is an open-source Node.js framework <br class="hidden lg:block">
    making your server-side development enjoyable.
  </h3>
  <div class="flex flex-wrap justify-center mt-16 space-y-4 text-center sm:space-y-0 sm:space-x-4">
    <a class="px-6 py-3 text-lg font-semibold leading-6 transition-colors duration-200 rounded shadow-sm link-white bg-gradient-to-r from-blue-600 hover:from-blue-700 to-indigo-500 hover:to-indigo-600 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-900 focus:outline-none"
      href="/docs">
      Get started
    </a>
    <button
      class="flex items-center justify-center px-4 py-2 space-x-2 font-mono text-sm leading-6 border rounded text-slate-500 sm:space-x-4 border-slate-200 hover:border-slate-300 bg-slate-100 hover:bg-slate-200 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-900 focus:outline-none"
      href="/docs" onclick="copy()">
      <span className="hidden sm:inline" aria-hidden="true">
        $
      </span>
      <span class="text-slate-600">
        npm init @supercharge/app@latest hello-supercharge
      </span>
      <span class="sr-only">(click to copy to clipboard)</span>
      <svg width="24" height="24" fill="none" stroke="currentColor" strokeWidth={1.5}>
        <path
          d="M8 16c0 1.886 0 2.828.586 3.414C9.172 20 10.114 20 12 20h4c1.886 0 2.828 0 3.414-.586C20 18.828 20 17.886 20 16v-4c0-1.886 0-2.828-.586-3.414C18.828 8 17.886 8 16 8m-8 8h4c1.886 0 2.828 0 3.414-.586C16 14.828 16 13.886 16 12V8m-8 8c-1.886 0-2.828 0-3.414-.586C4 14.828 4 13.886 4 12V8c0-1.886 0-2.828.586-3.414C5.172 4 6.114 4 8 4h4c1.886 0 2.828 0 3.414.586C16 5.172 16 6.114 16 8" />
      </svg>
    </button>
  </div>
</div>

<div class="mb-8">
  <div class="max-w-6xl px-4 py-20 mx-auto sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-4xl font-extrabold text-gray-900">Your Fullstack Framework</h2>
      <p class="mt-4 text-lg text-coolGray-500">
        Supercharge ships with an extensive core. <br> Instead of “frankensteining” your app, you can start
        building right away.
      </p>
    </div>
    <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-3 lg:gap-x-8">
      <div class="relative">
        <dt>
          <svg class="absolute w-6 h-6 text-emerald-400" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <h3 class="text-lg font-medium leading-6 text-gray-900 ml-9">HTTP Controllers</h3>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Handle HTTP requests using powerful controller classes.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <svg class="absolute w-6 h-6 text-emerald-400" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <h3 class="text-lg font-medium leading-6 text-gray-900 ml-9">Routing</h3>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Supercharge comes with a powerful routing and middleware engine.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <svg class="absolute w-6 h-6 text-emerald-400" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <h3 class="text-lg font-medium leading-6 text-gray-900 ml-9">Integrated CLI</h3>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Every application has an integrated CLI allowing you to run comprehensive command line processing.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <svg class="absolute w-6 h-6 text-emerald-400" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <h3 class="text-lg font-medium leading-6 text-gray-900 ml-9">SQL ORM</h3>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Map your database tables to models using the powerful SQL-ORM built on Objection.js and a fluent query
          builder.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <svg class="absolute w-6 h-6 text-emerald-400" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <h3 class="text-lg font-medium leading-6 text-gray-900 ml-9">Database Migrations</h3>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Update your database schema by running migrations from the integrated CLI.
        </dd>
      </div>

      <div class="relative">
        <dt>
          <svg class="absolute w-6 h-6 text-emerald-400" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <h3 class="text-lg font-medium leading-6 text-gray-900 ml-9">View Engine</h3>
        </dt>
        <dd class="mt-2 text-base text-gray-500 ml-9">
          Build beautiful web views by rendering Handlebars templates.
        </dd>
      </div>

    </dl>
  </div>
</div>

{{#stack 'scripts'}}
<script>
  function copy() {
    navigator.clipboard
      .writeText('npm init @supercharge/app@latest hello-supercharge')
      .catch((e) => {
        console.log(e)
      })
  }
</script>
{{/stack}}
