<div class="max-w-3xl px-4 mx-auto mb-12 prose prose-md">
  <div class="my-24 text-center">
    <h1 class="mb-6 text-4xl font-extrabold text-slate-800">Supercharge News</h1>

    <p class="text-xl text-center text-slate-600">
      News and updates from Supercharge and the ecosystem.
    </p>
  </div>

  {{#each posts}}
  <article class="mt-20 mb-20">
    <h2>{{ title }}</h2>
    <p class="mb-6 text-slate-500">{{ publishedAt }}</p>

    {{{ content }}}
  </article>

  <hr>
  {{/each}}

</div>
