<div class="max-w-3xl px-4 mx-auto">
  <div class="mt-24 text-center">
    <h1 class="mb-12 text-4xl font-extrabold text-blueGray-800">A Supercharge Tale</h1>

    <p class="text-xl text-center text-blueGray-600">
      A podcast documenting the journey of Supercharge, <br class="hidden md:block">
      sharing behind-the-scenes details of the project.
    </p>
  </div>

  <div class="flex flex-wrap items-center justify-center mx-auto mt-20 space-x-2">
    <a href="https://podcasts.apple.com/de/podcast/a-supercharge-tale/id1481710274"
      class="flex items-center mb-2 btn btn-secondary">
      <svg class="mr-2" fill="currentColor" viewBox="-21 -21 682.66669 682.66669" width="24" height="24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="m451.484375 109.722656c-1.871094 0-8.351563.921875-14.40625 2.042969-26.765625 4.992187-184.539063 37.148437-187.234375 38.171875-4.171875 1.578125-8.300781 5.320312-10.257812 9.300781l-1.660157 3.375s-.78125 238.710938-1.992187 241.394531c-1.835938 4.09375-5.917969 7.964844-9.679688 9.199219-1.78125.585938-8.832031 2.207031-15.664062 3.597657-31.652344 6.445312-43.410156 11.089843-53.359375 21.085937-5.648438 5.671875-9.832031 13.417969-11.640625 21.542969-1.726563 7.769531-1.144532 19.394531 1.316406 26.460937 5.140625 14.746094 16.539062 25.199219 31.890625 29.222657 14.492187 3.792968 41.617187-.429688 55.496094-8.636719 5.792969-3.433594 13.253906-10.636719 17.136719-16.558594 1.535156-2.34375 3.847656-7.066406 5.136718-10.492187 4.519532-12.007813 4.660156-225.859376 5.238282-228.554688.976562-4.566406 4.03125-7.914062 8.238281-9.046875 3.789062-1.023437 155.714843-31.765625 159.988281-32.375 4.023438-.570313 7.824219.863281 9.652344 3.652344 1.234375 1.878906 4.296875 149.410156.15625 154.324219-3.007813 3.578124-9.269532 4.957031-24.707032 8.1875-23.496093 4.90625-31.539062 7.234374-40.53125 11.730468-11.238281 5.617188-17.476562 11.773438-22.296874 21.992188-3.40625 7.226562-4.683594 12.648437-4.671876 19.84375.019532 12.867187 4.359376 22.925781 14.144532 32.765625 6.722656 6.765625 12.871094 10.3125 21.351562 12.308593 9.527344 2.246094 28.933594.765626 42.207032-3.21875 18.785156-5.640624 32.046874-19.3125 37.480468-38.625 1.058594-3.773437 1.597656-7.65625 1.601563-11.574218.027343-42.417969.160156-299.589844-.402344-301.539063-1.769531-6.105469-6.328125-9.589843-12.53125-9.578125zm0 0" />
        <path
          d="m320 0c-176.734375 0-320 143.265625-320 320s143.265625 320 320 320 320-143.265625 320-320-143.265625-320-320-320zm0 613.121094c-161.882812 0-293.121094-131.238282-293.121094-293.121094s131.238282-293.121094 293.121094-293.121094 293.121094 131.238282 293.121094 293.121094-131.238282 293.121094-293.121094 293.121094zm0 0" />
        <title>A Supercharge Tale on iTunes/Apple Podcasts</title>
      </svg>
      <span class="whitespace-nowrap">iTunes</span>
    </a>
    <a href="https://open.spotify.com/show/2TIvjKmqBoljTMiKKiGVa9" class="flex items-center mb-2 btn btn-secondary">
      <svg class="mr-2" enable-background="new 0 0 24 24" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <title>A Supercharge Tale on Spotify</title>
        <path
          d="m17.672 16.718c-3.232-2.129-7.295-2.646-12.076-1.532-.96.223-.636 1.68.34 1.461 7.692-1.788 10.547 1.448 11.323 1.448.742-.001 1.033-.968.413-1.377z" />
        <path
          d="m5.257 12.896c4.301-1.018 9.184-.426 12.744 1.542.866.479 1.592-.834.726-1.312-3.875-2.142-9.167-2.788-13.815-1.689-.964.227-.623 1.686.345 1.459z" />
        <path
          d="m4.689 8.994c4.53-1.386 10.885-.626 14.469 1.73.823.541 1.654-.708.824-1.253-3.98-2.617-10.742-3.438-15.732-1.912-.952.291-.504 1.726.439 1.435z" />
        <path
          d="m12 24c6.617 0 12-5.383 12-12s-5.383-12-12-12-12 5.383-12 12 5.383 12 12 12zm0-22.5c5.79 0 10.5 4.71 10.5 10.5s-4.71 10.5-10.5 10.5-10.5-4.71-10.5-10.5 4.71-10.5 10.5-10.5z" />
      </svg>
      <span class="whitespace-nowrap">Spotify</span>
    </a>
    <a href="https://pca.st/o3h9q5sh" class="flex items-center mb-2 btn btn-secondary">
      <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="20" fill="currentColor" height="20" viewBox="0 0 512 512" enable-background="new 0 0 512 512"
        xml:space="preserve">
        <title>A Supercharge Tale on Pocket Casts</title>
        <path d="M256.043,2.885C116.291,2.885,3,116.176,3,255.928C3,395.68,116.291,508.971,256.043,508.971
	S509.086,395.68,509.086,255.928C509.086,116.176,395.795,2.885,256.043,2.885z M353.348,259.333h-32.029
	c-1.74,0-3.152-1.418-3.152-3.167c0-0.114,0.021-0.222,0.033-0.333h-0.041c-0.18-33.903-27.713-61.333-61.658-61.333
	c-34.057,0-61.667,27.609-61.667,61.667c0,33.596,26.873,60.89,60.292,61.625c0.309-0.074,0.627-0.125,0.958-0.125
	c2.255,0,4.083,1.828,4.083,4.083v30.668c0,2.255-1.828,4.083-4.083,4.083c-0.085,0-0.166-0.021-0.25-0.025v0.021
	c-55.259-0.181-100-45.028-100-100.329c0-55.413,44.921-100.333,100.333-100.333c55.301,0,100.148,44.741,100.329,100h-0.029
	c0.012,0.111,0.033,0.219,0.033,0.333C356.5,257.915,355.088,259.333,353.348,259.333z M429.167,256.333
	c0,2.025-1.636,3.667-3.654,3.667h-38.69c-2.019,0-3.654-1.642-3.654-3.667c0-0.171,0.027-0.334,0.05-0.5h-0.051
	c0-70.324-57.009-127.333-127.333-127.333c-70.325,0-127.334,57.009-127.334,127.333c0,70.325,57.009,127.333,127.334,127.333
	c0.071,0,0.142-0.002,0.213-0.003c0.131-0.011,0.256-0.039,0.39-0.039c0.104,0,0.202,0.024,0.305,0.03
	c0.141-0.002,0.282-0.004,0.424-0.005v0.048c2.24,0.353,3.959,2.275,3.959,4.614v36.625c0,2.339-1.719,4.262-3.959,4.614v0.094
	c-0.556,0.006-1.109,0.021-1.666,0.021c-95.913,0-173.667-77.753-173.667-173.667c0-95.913,77.753-173.667,173.667-173.667
	c95.914,0,173.667,77.753,173.667,173.667c0,0.111-0.004,0.222-0.004,0.333h-0.046C429.14,255.999,429.167,256.162,429.167,256.333z
	" />
      </svg>
      <span class="whitespace-nowrap">Pocket Casts</span>
    </a>
    <a href="https://overcast.fm/itunes1481710274/a-supercharge-tale" class="flex items-center mb-2 btn btn-secondary">
      <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        width="24" height="24" viewBox="0 0 1000 1000" xml:space="preserve" id="overcastCanvas">
        <title>A Supercharge Tale on Overcast</title>
        <g id="overcastCanvas-group">
          <path id="overcastCanvas-bezier" fill-rule="evenodd" stroke="none" fill="currentColor"
            d="M 500,900 C 278.33,900 100,721.67 100,500 100,278.33 278.33,100 500,100 721.67,100 900,278.33 900,500 900,721.67 721.67,900 500,900 Z M 500,741.67 L 530,711.67 500,596.67 470,711.67 500,741.67 Z M 461.67,740 L 446.67,796.67 481.67,761.67 461.67,740 Z M 538.33,740 L 518.33,760 553.33,795 538.33,740 Z M 566.67,843.33 L 500,776.67 433.33,843.33 C 455,846.67 476.67,850 500,850 523.33,850 545,848.33 566.67,843.33 Z M 500,150 C 306.67,150 150,306.67 150,500 150,653.33 248.33,783.33 385,830 L 460,551.67 C 443.33,540 433.33,520 433.33,498.33 433.33,461.67 463.33,431.67 500,431.67 536.67,431.67 566.67,461.67 566.67,498.33 566.67,520 556.67,538.33 540,551.67 L 615,830 C 751.67,783.33 850,653.33 850,500 850,306.67 693.33,150 500,150 Z M 728.33,673.33 C 720,683.33 705,686.67 693.33,678.33 681.67,670 680,655 688.33,645 688.33,645 733.33,585 733.33,500 733.33,415 688.33,355 688.33,355 680,345 681.67,330 693.33,321.67 705,313.33 720,316.67 728.33,326.67 731.67,330 783.33,398.33 783.33,500 783.33,601.67 731.67,670 728.33,673.33 Z M 606.67,608.33 C 596.67,598.33 598.33,580 608.33,570 608.33,570 633.33,543.33 633.33,500 633.33,456.67 608.33,431.67 608.33,430 598.33,420 598.33,403.33 606.67,391.67 616.67,380 631.67,380 641.67,390 643.33,391.67 683.33,433.33 683.33,500 683.33,566.67 643.33,608.33 641.67,610 631.67,620 616.67,618.33 606.67,608.33 Z M 393.33,608.33 C 383.33,618.33 368.33,620 358.33,610 356.67,606.67 316.67,566.67 316.67,500 316.67,433.33 356.67,393.33 358.33,390 368.33,380 385,380 393.33,391.67 403.33,401.67 401.67,420 391.67,430 391.67,431.67 366.67,456.67 366.67,500 366.67,543.33 391.67,570 391.67,570 401.67,580 403.33,596.67 393.33,608.33 Z M 306.67,678.33 C 295,686.67 280,683.33 271.67,673.33 268.33,670 216.67,601.67 216.67,500 216.67,398.33 268.33,330 271.67,326.67 280,316.67 295,313.33 306.67,321.67 318.33,330 320,345 311.67,355 311.67,355 266.67,415 266.67,500 266.67,585 311.67,645 311.67,645 320,655 316.67,670 306.67,678.33 Z M 306.67,678.33" />
        </g>
      </svg>
      <span class="whitespace-nowrap">Overcast</span>
    </a>
    <a href="https://feeds.transistor.fm/a-supercharge-tale" class="flex items-center mb-2 btn btn-secondary">
      <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <title>A Supercharge Tale RSS</title>
        <path d="M4 11a9 9 0 0 1 9 9"></path>
        <path d="M4 4a16 16 0 0 1 16 16"></path>
        <circle cx="5" cy="19" r="1"></circle>
      </svg>
      <span class="whitespace-nowrap">RSS</span>
    </a>
  </div>

  <div class="flex h-32 max-w-xl mx-auto mt-32">
    <div class="flex-none w-full bg-blueGray-100 rounded-3xl"></div>
    <div
      class="flex-none w-full p-8 transform shadow-lg -ml-full rounded-3xl bg-gradient-to-br from-blue-500 via-blue-600 to-blue-700 -rotate-1">
      <h2 class="text-2xl font-bold text-center text-white text-shadow"> Latest Episodes</h2>
    </div>
  </div>

  <section class="relative z-40 mb-24 -mt-16">
    <div class="mt-5">
      <iframe src='https://share.transistor.fm/e/a-supercharge-tale/playlist' width='100%' height='390' frameborder='0'
        scrolling='no' seamless='true' style='width:100%; height:390px;'></iframe>
    </div>
  </section>
</div>
