<form class="col-8 col-md-7">
    <div class="input-group">
        <input type="text" class="form-control bg-light" placeholder="Search is not working yet. Sorry!"
            aria-label="Search">
    </div>
</form>
