<form class="col-8 col-md-5">
    <div class="input-group">
        <input id="docsearch" type="text" class="form-control bg-light" placeholder="Search the docs"
            aria-label="Search">
    </div>
</form>
