<footer class="border-t border-coolGray-100 bg-coolGray-50">
    <div class="px-4 py-12 mx-auto text-sm max-w-7xl sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center space-x-6 md:order-2">
            <a href="/" class="px-2 py-1 rounded hover:bg-coolGray-100 hover:text-blue-800">Startpage</a>
            <a href="/docs" class="px-2 py-1 rounded hover:bg-coolGray-100 hover:text-blue-800">Documentation</a>
            <a href="/podcast" class="px-2 py-1 rounded hover:bg-coolGray-100 hover:text-blue-800">Podcast</a>

            {{!-- GitHub --}}
            <a href="https://github.com/supercharge"
                class="px-2 py-1 rounded hover:bg-coolGray-100 hover:text-blue-800">
                <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>Supercharge on GitHub</title>
                    <path
                        d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0">
                    </path>
                </svg>
            </a>

            {{!-- Twitter --}}
            <a href="https://twitter.com/superchargejs"
                class="px-2 py-1 rounded hover:bg-coolGray-100 hover:text-blue-800">
                <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>Supercharge on Twitter</title>
                    <path
                        d="M6.29 18.25c7.55 0 11.67-6.25 11.67-11.67v-.53c.8-.59 1.49-1.3 2.04-2.13-.75.33-1.54.55-2.36.65a4.12 4.12 0 0 0 1.8-2.27c-.8.48-1.68.81-2.6 1a4.1 4.1 0 0 0-7 3.74 11.65 11.65 0 0 1-8.45-4.3 4.1 4.1 0 0 0 1.27 5.49C2.01 8.2 1.37 8.03.8 7.7v.05a4.1 4.1 0 0 0 3.3 4.03 4.1 4.1 0 0 1-1.86.07 4.1 4.1 0 0 0 3.83 2.85A8.23 8.23 0 0 1 0 16.4a11.62 11.62 0 0 0 6.29 1.84">
                    </path>
                </svg>
            </a>

        </div>
        <div class="mt-8 md:mt-0 md:order-1">
            <a href="/">
                <img class="hidden w-auto h-16 lg:block" src="/images/supercharge-text.svg" alt="Supercharge">
                <img class="block w-auto h-16 lg:hidden" src="/images/supercharge.svg" alt="Supercharge">
            </a>
        </div>
    </div>
</footer>

{{#stack 'scripts'}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="/js/prism.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
        docsearch({
            apiKey: '84032854d3792b1afa2050c7fdb1019d',
            indexName: 'superchargejs',
            inputSelector: '#docsearch',
            algoliaOptions: { 'facetFilters': ["version:{{docsVersion version}}"] },
            debug: false // Set debug to true if you want to inspect the dropdown
        });
    </script>
{{/stack}}
