<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">

    <div class="container">

        {{> logo }}

        {{> nav/nav-center}}

        <button class="navbar-toggler sidebar__toggler" type="button" data-toggle="collapse"
            data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="col-md-2 collapse navbar-collapse justify-content-between" id="collapsingNavbar">
            {{> nav/nav-right}}
        </div>

    </div>
</nav>
