<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">

    <div class="container">

        {{> logo }}

        {{> nav/nav-center}}

        <button class="navbar-toggler sidebar__toggler" type="button" data-toggle="collapse"
            data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{> nav/nav-right}}

    </div>
</nav>
