<div class="navbar-brand col-2 col-md-3 pl-0 mx-0">
    <a href="/">
        <img class="d-none d-md-block" src="/images/supercharge-text.svg" alt="Supercharge" height="50">
        <img class="d-md-none" src="/images/supercharge.svg" alt="Supercharge" height="50">
    </a>
</div>
