<a href="/">
    <img class="hidden w-auto h-16 lg:block" src="/images/supercharge-text.svg" alt="Supercharge">
    <img class="block w-auto h-16 lg:hidden" src="/images/supercharge.svg" alt="Supercharge">
</a>
