<title>{{title}}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<meta name="description" content="{{description}}">
<meta name="description" content="Supercharge is an open-source Node.js framework, not just a web framework">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="theme-color" content="#ffffff">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@superchargejs">
<meta name="twitter:title" content="Supercharge — an open-source Node.js framework, not just a web framework">
<meta name="twitter:description" content="Documentation for the Supercharge Node.js framework.">
<meta name="twitter:creator" content="@superchargejs">
<meta name="twitter:image" content="https://superchargejs.com/images/twitter-card.png">

<meta property="og:url" content="https://superchargejs.com/">
<meta property="og:type" content="article">
<meta property="og:title" content="Supercharge — an open-source Node.js framework, not just a web framework">
<meta property="og:description" content="Documentation for the Supercharge Node.js framework.">
<meta property="og:image" content="https://superchargejs.com/images/twitter-card.png">

<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@alpha" />
