<title>{{title}}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<meta name="description" content="{{description}}">
<meta name="description"
    content="Supercharge is an open-source Node.js framework making your developer life enjoyable.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="theme-color" content="#ffffff">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@superchargejs">
<meta name="twitter:title"
    content="Supercharge — an open-source Node.js framework making your server-side development enjoyable">
<meta name="twitter:description" content="Documentation for the Supercharge Node.js framework.">
<meta name="twitter:creator" content="@superchargejs">
<meta name="twitter:image" content="https://superchargejs.com/images/twitter-card.png">

<meta property="og:url" content="https://superchargejs.com/">
<meta property="og:type" content="article">
<meta property="og:title"
    content="Supercharge — an open-source Node.js framework making your server-side development enjoyable">
<meta property="og:description" content="Documentation for the Supercharge Node.js framework.">
<meta property="og:image" content="https://superchargejs.com/images/twitter-card.png">

<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css"
    integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css"
    integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
