
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  a, a:link, a:visited, a:active {
    color: #2436de;
  }

  @font-face {
    font-family: Cascadida Code;
    src: url(webfonts/CascadiaCode.woff2) format("woff2");
  }

  @font-face {
    font-family: Cascadida Code;
    font-style: italic;
    src: url(webfonts/CascadiaCodeItalic.woff2) format("woff2");
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 font-semibold rounded-lg;
  }

  .btn-primary {
    @apply text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .btn-secondary {
    @apply bg-coolGray-50 hover:shadow-sm hover:bg-coolGray-100 focus:outline-none focus:ring-2 focus:ring-coolGray-300 focus:ring-opacity-75;
  }
}

.algolia-autocomplete {
  width: 100%;
}
