<!DOCTYPE html>
<html>

<head>
    {{> layout/head}}

    {{#stack 'css'}}
        <link rel="stylesheet" href="/css/br-hendrix.css" type="text/css">
        <link rel="stylesheet" href="/css/app.css" type="text/css">
    {{/stack}}
</head>

<body class="h-screen antialiased text-blueGray-700">

    {{> header }}

    <main class="container mx-auto" role="main">
        {{{ content }}}
    </main>

    {{> footer }}

</body>

</html>
