<!DOCTYPE html>
<html>

<head>
    {{> layout/head}}

    {{#stack 'css'}}
    <link rel="stylesheet" href="/css/br-hendrix.css" type="text/css">
    <link rel="stylesheet" href="/css/prism.css" type="text/css">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    {{/stack}}
</head>

<body class="antialiased text-blueGray-700 min-h-full">

    {{> header }}

    <main class="flex-auto flex" role="main">
        {{{ content }}}
    </main>

    {{> footer }}

</body>

</html>
