<!DOCTYPE html>
<html lang="en">

<head>
    {{> layout/head}}

    {{#stack 'css'}}
        <link rel="stylesheet" href="/css/br-hendrix.css" type="text/css">
        <link rel="stylesheet" href="/css/app.css">
    {{/stack}}
</head>

<body>
    {{> header }}

    {{{ content }}}


    {{#append 'scripts'}}
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {{/append}}

    {{> footer }}
</body>

</html>
